$darkColor:rgb(100,100,100);
$mediumColor:rgb(170,170,170);
$medLightColor:rgb(200,200,200);
$lightColor:rgb(240,240,240);
$testColor:rgba(255,0,0,0.5);
$blueKids:rgb(100,200,255);
$redKids:rgb(255,100,20);
$greenKids:rgb(69, 201, 113);
$yellowKids:rgb(231, 196, 37);

@function adaptHeight(){
    $newHeight: (100vw/16)*9;
    @return $newHeight;
}

@function adaptWidth(){
    $newWidth: (100vh/9)*16;
    @return $newWidth;
}

*{
    margin:0px;
    padding:0px;
    text-decoration:none;
    list-style:none;
    font-size:12pt;
    font-family: Arial, sans-serif;
    color:$darkColor;
}

header{
    background-color:$lightColor;
    padding:20px 40px 20px 20px;
    display:flex;
}

nav{
    display:flex;
    flex-flow:row wrap;
    
    a{
        color:white;
        transition-duration: 300ms;
        background-color:$mediumColor;
        border-radius: 3px;
        padding:13px 20px 13px 50px;
        position:relative;

        &:hover{
            transition-duration: 300ms;
        }

        &::before{
            display:inline-block;
            height:5px;
            margin-right:10px;
            filter:brightness(200%);
            position:absolute;
            top:6px;
            left:10px
        }
    }
}

#navMovie:hover{
    background-color:$blueKids;
}

#navMusic:hover{
    background-color:$redKids;
}

#navChar:hover{
    background-color:$greenKids;
}

#navGame:hover{
    background-color: $yellowKids;
}

#navMovie::before{
    content:url("../../img/movieIcon.png");
}

#navMusic::before{
    content:url("../../img/musicIcon.png");
}

#navChar::before{
    content:url("../../img/characterIcon.png");
}

#navGame::before{
    content:url("../../img/gamesIcon.png");
}

#titleLetterA{
    color:$blueKids;
}

#titleLetterB{
    color:$redKids;
}

#titleLetterC{
    color:$greenKids;
}

#titleLetterD{
    color:$yellowKids;
}

h1{
    a{
        transition-duration: 300ms;
        font-size:200%;
        display:block;

        &:hover{
            transition-duration: 300ms;
            color:white;

            #titleLetterA, #titleLetterB, #titleLetterC, #titleLetterD {
                transition-duration: 250ms;
                color:white;
            }
        }

        span{
            font-size:160%;
        }
    }
}

#pageHeader{
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    padding-top:20px;
    background-color: white;

    h2{
        padding-bottom: 20px;
        font-size:24pt;
    }
}

.moviesListOptions{
    margin-bottom:20px;
}

#moviesList{
    background-color:$medLightColor;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    padding-top:15px;
}

.movie{
    position:relative;
    margin:10px;
    width:10%;
    min-width:200px;
    padding:10px;
    background-color:white;
    border-radius:10px;
    transition-duration: 300ms;

    &:hover{
        transition-duration: 300ms;
        box-shadow: 0px 0px 10px;
    }

    img{
        width:100%;
        content-visibility: auto;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
    
    h3{
        margin-top:10px;
        margin-bottom:10px;
    }
    
    a{
        position: absolute;
        display:inline-block;
        width:100%;
        height:100%;
        border-radius:10px;
        left:0;
        top:0;
        overflow:hidden;
        text-indent: -9999px;
    }
}

.movieSectionTitle{
    padding:15px 15px 15px 30px;
    font-size:22pt;
    background-color: $mediumColor;
    color:white;
}

.listElement{
    margin:10px 15px 15px 15px;
    padding:15px;
    text-align: center;
    border-radius:10px;
    width: 185px;

    &:hover{
        background-color: $lightColor;
    }

    h3{
        color:$darkColor;
        font-size:16pt;
        margin-bottom:10px;

        span{
            text-align: left;
            color:$mediumColor;
            font-size:12pt;
        }
    }

    img{
        border-radius:10px;
        width:180px;

        &:hover{
            cursor:pointer;
        }
    }
}

#movieHeader{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: white;

    img{
        width:15%;
        min-width:150px;
        padding:10px;
        margin:15px 0 15px 0;
        border: 1px solid rgb(100,100,100);
    }
}

#moviePageInfo{
    padding:10px;

    h2{
        padding:0 10px 0 10px;
        font-size:24pt;
    }
}

#movieDetails{
    background-color:$mediumColor;
    padding:10px 20px 20px 20px;
    margin-top:10px;
    border-radius:10px;

    p{
        margin-top:5px;
        padding-left:10px;
        color:white;

        span{
            color:white;
            text-decoration: underline;
            display:inline-block;
            margin-bottom:5px;
        }
    }

    li{
        margin-top:5px;
        padding-left:10px;
        color:white;
        
        a{
            color:white;

            &:hover{
                color:$darkColor;
            }
        }
    }

    h3{
        margin:15px 0 15px 0;
        color:white;
    }
}

#movieStory{
    text-align:justify;
}

#charactersDisplay{
    background-color:$medLightColor;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    padding-top:15px;
}

#charactersList{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-evenly;
    width:100%;
}

#charInfo{
    background-color: $darkColor;
    width:40%;
    padding:20px;
    margin-bottom:20px;
    border-radius:3px;
    text-align:center;
    position:relative;

    *{
        color:white;
    }
    
    h3, p{
        text-align:left;
    }

    h3{
        font-size:150%;
        margin:10px 0 10px 0;
    }

    a{
        &:hover{
            text-decoration:underline;
        }
    }
}

#charInfoImg{
    width:270px;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
}

#closeInfo{
    position:absolute;
    top:20px;
    right:20px;
    display:block;
    width:25px;

    &:hover{
        cursor:pointer;
        filter: brightness(200%);
    }
}

#charMovie{
    font-size:120%;
    margin-bottom:10px;
}

#musicList{
    background-color:$medLightColor;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}

#videoPlayer{
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.9);
    top:0;
    display:flex;
    justify-content:center;
}

#videoNavBar{
    z-index:9999;
    background-color:rgba(255,255,255,0);
    border-radius:30px;
    padding:10px;
    top:30px;
    width:160px;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items:center;
    transition-duration: 300ms;
    
    &:hover{
        transition-duration: 300ms;
        background-color:rgba(255,255,255,0.2);
    }

    img{
        height:30px;
        padding:5px;
        display:block;
        filter: brightness(200%);
        opacity:0.3;

        &:hover{
            cursor:pointer;
            //filter: brightness(200%);
            opacity:1;
        }
    }
}

@media screen and (orientation:landscape){
    #videoPlayer{
        flex-flow:row nowrap;
    }
    
    #videoNavBar{
        position:absolute;
        top:30px;
    }
}

@media screen and (orientation:portrait){
    #videoPlayer{
        flex-flow:column nowrap;
        align-items: center;
    }

    #videoNavBar{
        position:relative;
        width:80%;
        order:1;

        img{
            filter: brightness(100%);
        }
    }
}

@media screen and (max-width: 370px) {//Petits smartphones
    nav{
        flex-flow:column nowrap;
        margin-top:20px;

        a{
            margin-bottom:10px;
            text-align:center;
        }
    }
}

@media screen and (max-width: 810px) {//Tous smartphones et petites tablettes
    header{
        flex-flow:column wrap;
        align-items:center;
    }

    h1{
        width:100%;
        text-align:center;
    }

    #charInfo{
        width:80%;
        order:1;
    }

    #charInfoImg{
        width:100%;
    }

    #moviePageInfo{
        width: 85%;
        margin-bottom: 15px;
    }

    .infoOpened{
        order:2;
    }
}

@media screen and (min-width:371px) and (max-width: 810px) {//Smartphones larges et grandes tablettes
    nav{
        justify-content:center;
        margin-top:20px;

        a{
            margin:0 5px 10px 5px;
        }
    }
}

@media screen and (min-width: 656px) {//Grandes tablettes ou PC
    #moviePageInfo{
        max-width:50%;
        margin:0 0 15px 15px;
    }
}

@media screen and (min-width: 811px) {//PC
    header{
        flex-flow:row wrap;
        justify-content:space-between;
        align-items:center;
    }
    
    h1{
        margin:0 40px 0 40px;
    }
    
    nav{
        a{
            margin:0 5px 0 5px;
        }
    }
}

@media screen and (min-aspect-ratio: 16/9){
    #videoPlayed{
        height:100%;
        width:adaptWidth();
    }
}

@media screen and (max-aspect-ratio: 16/9){
    #videoPlayed{
        width:100%;
        height:adaptHeight();
    }
}

.hidden{
    display:none;
    visibility:hidden;
    z-index:-9999;
}

.errorMsg{
    color: red;
    font-weight:700;
    margin:10px 0 25px;
}

.section{
    width:100%;
    display:flex;
    justify-content: center;
    background-color: $darkColor;
}

.section-container{
    width:80%;
    text-align:center;
}

.kidsMoviesBtn{
    padding:10px;
    margin:20px;
    background-color: $medLightColor;
    color:white;
    border-radius: 4px;
    border:none;

    &:hover{
        cursor:pointer;
        background-color: $yellowKids;
    }
}

#videoPlayerContainer>iframe{
    margin-bottom:20px;
}