$darkColor:rgb(100,100,100);
$mediumColor:rgb(170,170,170);
$medLightColor:rgb(200,200,200);
$lightColor:rgb(240,240,240);
$testColor:rgba(255,0,0,0.5);

@function fitHeight(){
    $newHeight: (100vw/16)*9;
    @return $newHeight;
}

@function fitWidth(){
    $newWidth: (100vh/9)*16;
    @return $newWidth;
}

*{
    margin:0px;
    padding:0px;
    text-decoration:none;
    list-style:none;
    font-size:12pt;
    font-family: Arial, sans-serif;
    color:$darkColor;
}

header{
    background-color:$lightColor;
    padding:20px 40px 20px 40px;
    display:flex;
}

nav{
    display:flex;
    flex-flow:row wrap;
    
    a{
        color:white;
        transition-duration: 300ms;
        background-color:$mediumColor;
        border-radius: 3px;
        padding:10px;

        &:hover{
            transition-duration: 300ms;
            background-color:rgb(100,200,255);
        }
    }
}

h1{
    a{
        transition-duration: 300ms;
        font-size:200%;

        &:hover{
            transition-duration: 300ms;
            color:$medLightColor;
        }
    }
}

@media screen and (max-width: 370px) {//Petits smartphones
    nav{
        flex-flow:column nowrap;
        margin-top:20px;

        a{
            margin-bottom:10px;
            text-align:center;
        }
    }
}

@media screen and (max-width: 640px) {//Tous smartphones et petites tablettes
    header{
        flex-flow:column wrap;
        align-items:center;
    }

    h1{
        width:100%;
        text-align:center;
    }
}

@media screen and (min-width:371px) and (max-width: 640px) {//Smartphones larges et petites tablettes
    nav{
        justify-content:center;
        margin-top:20px;

        a{
            margin:0 5px 10px 5px;
        }
    }
}

@media screen and (min-width: 641px) {//Grandes tablettes ou PC
    header{
        flex-flow:row wrap;
        justify-content:space-between;
        align-items:center;
    }
    
    h1{
        margin:0 40px 0 40px;
    }

    nav{
        a{
            margin:0 5px 0 5px;
        }
    }
}

.pageHeader{
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    padding-top:20px;

    h2{
        padding-bottom: 20px;
        font-size:24pt;
    }

    .sortBy{
        padding-bottom:20px;
    }
}

.mainContent{
    background-color:$medLightColor;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    padding-top:15px;

    .movie{
        position:relative;
        margin:10px;
        width:10%;
        min-width:200px;
        padding:10px;
        background-color:white;
        border-radius:10px;
        transition-duration: 300ms;

        &:hover{
            transition-duration: 300ms;
            box-shadow: 0px 0px 10px;
        }

        .moviePicture{
            width:100%;
            border-radius: 10px;
        }
        
        .movieTitle{
            margin-top:10px;
            margin-bottom:10px;
        }
        
        .movieLink{
            position: absolute;
            display:inline-block;
            width:100%;
            height:100%;
            border-radius:10px;
            left:0;
            top:0;
            overflow:hidden;
            text-indent: -9999px;
        }
    }
}

.charactersList{
    background-color:$medLightColor;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-evenly;
    padding-top:15px;
    width:100%;
}

.infoOpened{
    width:50%;
}

.listElement{
    margin:10px 15px 15px 15px;
    padding:15px;
    text-align: center;
    border-radius:10px;

    .elementMovie{
        text-align: left;
        color:$mediumColor;
        font-size:12pt;
    }

    .elementTitle{
        color:$darkColor;
        font-size:16pt;
        margin-bottom:10px;
    }

    .elementImg{
        border-radius:10px;
        width:180px;

        &:hover{
            cursor:pointer;
        }
    }

    &:hover{
        background-color: $lightColor;
    }
}

.movieHeader{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: flex-start;

    .moviePageImg{
        width:15%;
        min-width:150px;
        padding:10px;
        margin:15px 0 15px 0;
        border: 1px solid rgb(100,100,100);
    }
    
    .moviePageInfo{
        padding:10px;
        margin:0 0 15px 15px;

        h2{
            padding:0 10px 0 10px;
            font-size:24pt;
        }

        .movieDetails{
            background-color:$mediumColor;
            padding:10px 20px 20px 20px;
            margin-top:10px;
            border-radius:10px;

            ul{
                li{
                    margin-top:5px;
                    padding-left:10px;
                    color:white;
                    
                    a{
                        color:white;

                        &:hover{
                            color:$darkColor;
                        }
                    }
                }
            }

            h3{
                margin:15px 0 15px 0;
                color:white;
            }
        }
    }
}

.movieContent{
    background-color:$medLightColor;

    h2{
        padding:15px 15px 15px 30px;
        font-size:22pt;
        background-color: $mediumColor;
        color:white;
    }

    .movieSection{
        display:flex;
        flex-flow:row wrap;
        justify-content:space-evenly;
    }
}

#charInfo{
    background-color: $darkColor;
    width:40%;
    padding:20px;
    margin-bottom:20px;
    border-radius:3px;
    text-align:center;
    position:relative;

    #closeInfo{
        position:absolute;
        top:20px;
        right:20px;

        &:hover{
            cursor:pointer;
            filter: brightness(200%);
        }
    }

    #charImg{
        width:270px;
        margin-left:auto;
        margin-right:auto;
        border-radius:10px;
    }

    h3, h4, p{
        text-align:left;
        color:white;
    }

    h3{
        font-size:150%;
        margin:10px 0 10px 0;
    }

    h4{
        font-size:120%;
        margin-bottom:10px;
    }
}

@media screen and (max-width:670px){
    #charInfo{
        width:80%;
        order:1;

        #charImg{
            width:100%;
        }
    }

    .infoOpened{
        order:2;
    }
}

#videoPlayer{
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.9);
    top:0;
    text-align:center;

    img{
        z-index:9999;
        position:fixed;
        width:20px;
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (orientation: landscape){
    #videoPlayed{
        height:100%;
        width:fitWidth();
    }
}

@media screen and (orientation: portrait){
    #videoPlayed{
        width:100%;
        height:fitHeight();
    }
}

.hidden{
    display:none;
    z-index:-9999;
}