$darkColor:rgb(100,100,100);
$mediumColor:rgb(170,170,170);
$medLightColor:rgb(200,200,200);
$lightColor:rgb(240,240,240);
$testColor:rgba(255,0,0,0.5);

$blueKids:rgb(100,200,255);
$redKids:rgb(255, 62, 14);
$greenKids:rgb(69, 201, 113);
$yellowKids:rgb(255, 223, 40);

$blueUser:rgb(44, 113, 240);
$redUser:rgb(243, 66, 66);
$yellowUser:rgb(252, 193, 32);
$orangeUser:rgb(250, 117, 55);
$pinkUser:rgb(240, 44, 165);

@function adaptHeight(){
    $newHeight: (100vw/16)*9;
    @return $newHeight;
}

@function adaptWidth(){
    $newWidth: (100vh/9)*16;
    @return $newWidth;
}

*{
    margin:0px;
    padding:0px;
    text-decoration:none;
    list-style:none;
    font-size:12pt;
    font-family: Arial, sans-serif;
    color:$darkColor;
}

header{
    background-color:$lightColor;
    padding:20px 40px 20px 20px;
    display:flex;
}

#titleLetterA{
    color:$blueKids;
}

#titleLetterB{
    color:$redKids;
}

#titleLetterC{
    color:$greenKids;
}

#titleLetterD{
    color:$yellowKids;
}

.mainTitle{
    a{
        transition-duration: 300ms;
        font-size:200%;
        display:block;

        &:hover{
            transition-duration: 300ms;
            color:white;

            #titleLetterA, #titleLetterB, #titleLetterC, #titleLetterD {
                transition-duration: 250ms;
                color:white;
            }
        }

        span{
            font-size:160%;
        }
    }
}

/*#pageHeader{
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    padding-top:20px;
    background-color: white;

    h2{
        padding-bottom: 20px;
        font-size:24pt;
    }
}*/

.moviesListOptions{
    margin-bottom:20px;
}

#moviesList{
    background-color:$medLightColor;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    padding-top:15px;
}

.movie{
    position:relative;
    margin:10px;
    width:10%;
    min-width:100px;
    padding:10px;
    background-color:white;
    border-radius:10px;
    transition-duration: 300ms;

    &:hover{
        transition-duration: 300ms;
        box-shadow: 0px 0px 10px;
    }

    img{
        width:100%;
        content-visibility: auto;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
    
    h3{
        margin-top:10px;
        margin-bottom:10px;
        font-size: .9rem;
    }

    p {
        font-size: .8rem;
    }
    
    a{
        position: absolute;
        z-index:1000;
        display:inline-block;
        width:100%;
        height:100%;
        border-radius:10px;
        left:0;
        top:0;
        overflow:hidden;
        text-indent: -9999px;
    }
}

.listElement{
    margin:10px 15px 15px 15px;
    padding:15px;
    text-align: center;
    border-radius:10px;
    width: 185px;

    &:hover{
        background-color: $lightColor;
    }

    h3{
        color:$darkColor;
        font-size:16pt;
        margin-bottom:10px;

        span{
            text-align: left;
            color:$mediumColor;
            font-size:12pt;
        }
    }

    img{
        border-radius:10px;
        width:180px;

        &:hover{
            cursor:pointer;
        }
    }
}

/*#charactersDisplay{
    background-color:$medLightColor;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    padding-top:15px;
}*/

#charactersList{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-evenly;
    width:100%;
}

#charInfo{
    background-color: $darkColor;
    width:40%;
    padding:20px;
    margin-bottom:20px;
    border-radius:3px;
    text-align:center;
    position:relative;

    *{
        color:white;
    }
    
    h3, p{
        text-align:left;
    }

    h3{
        font-size:150%;
        margin:10px 0 10px 0;
    }

    a{
        &:hover{
            text-decoration:underline;
        }
    }
}

#charInfoImg{
    width:270px;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
}

#closeInfo{
    position:absolute;
    top:20px;
    right:20px;
    display:block;
    width:25px;

    &:hover{
        cursor:pointer;
        filter: brightness(200%);
    }
}

#charMovie{
    font-size:120%;
    margin-bottom:10px;
}

/*#musicList{
    background-color:$medLightColor;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}*/

#videoPlayer{
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.9);
    top:0;
    display:flex;
    justify-content:center;
}

#videoNavBar{
    z-index:9999;
    background-color:rgba(255,255,255,0);
    border-radius:30px;
    padding:10px;
    top:30px;
    width:160px;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items:center;
    transition-duration: 300ms;
    
    &:hover{
        transition-duration: 300ms;
        background-color:rgba(255,255,255,0.2);
    }

    img{
        height:30px;
        padding:5px;
        display:block;
        filter: brightness(200%);
        opacity:0.3;

        &:hover{
            cursor:pointer;
            //filter: brightness(200%);
            opacity:1;
        }
    }
}

@media screen and (orientation:landscape){
    #videoPlayer{
        flex-flow:row nowrap;
    }
    
    #videoNavBar{
        position:absolute;
        top:30px;
    }
}

@media screen and (orientation:portrait){
    #videoPlayer{
        flex-flow:column nowrap;
        align-items: center;
    }

    #videoNavBar{
        position:relative;
        width:80%;
        order:1;

        img{
            filter: brightness(100%);
        }
    }
}

@media screen and (max-width: 370px) {//Petits smartphones
    nav{
        flex-flow:column nowrap;
        margin-top:20px;

        a{
            margin-bottom:10px;
            text-align:center;
        }
    }
}

@media screen and (max-width: 810px) {//Tous smartphones et petites tablettes
    header{
        flex-flow:column wrap;
        align-items:center;
    }

    .mainTitle{
        width:100%;
        text-align:center;
    }

    #charInfo{
        width:80%;
        order:1;
    }

    #charInfoImg{
        width:100%;
    }

    #moviePageInfo{
        width: 85%;
        margin-bottom: 15px;
    }

    .infoOpened{
        order:2;
    }
}

@media screen and (min-width:371px) and (max-width: 810px) {//Smartphones larges et grandes tablettes
    nav{
        justify-content:center;
        margin-top:20px;

        a{
            margin:0 5px 10px 5px;
        }
    }
}

@media screen and (min-width: 656px) {//Grandes tablettes ou PC
    #moviePageInfo{
        max-width:50%;
        margin:0 0 15px 15px;
    }
}

@media screen and (min-width: 811px) {//PC
    header{
        flex-flow:row wrap;
        justify-content:space-between;
        align-items:center;
    }
    
    .mainTitle{
        margin:0 40px 0 40px;
    }
    
    nav{
        a{
            margin:0 5px 0 5px;
        }
    }
}

@media screen and (min-aspect-ratio: 16/9){
    #videoPlayed{
        height:100%;
        width:adaptWidth();
    }
}

@media screen and (max-aspect-ratio: 16/9){
    #videoPlayed{
        width:100%;
        height:adaptHeight();
    }
}

.hidden{
    display:none;
    visibility:hidden;
    z-index:-9999;
}

.errorMsg{
    color: red;
    font-weight:700;
    margin:10px 0 25px;
}

.whiteBG{
    background-color: white;
}

.greyBG{
    background-color: $medLightColor;
}

.midGreyBG{
    background-color: $mediumColor;
}

.darkGreyBG{
    background-color: $darkColor;
}

.yellowBG{
    background-color: $yellowKids;
}

.blueBG{
    background-color: $blueKids;
}

.greenBG{
    background-color: $greenKids;
}

.redBG{
    background-color: $redKids;
}

.d-flex{
    display:flex;
}

.fairSpread{
    flex-flow:row wrap;
    justify-content:space-around;
}

.navMenu{
    display:flex;
    flex-flow:row wrap;
}

.pageLink{
    color:white;
    font-weight:700;
    transition-duration: 300ms;
    background-color:$mediumColor;
    border-radius: 4px;
    padding:13px 20px 13px 50px;
    position:relative;

    &:hover{
        transition-duration: 300ms;
    }

    &::before{
        display:inline-block;
        height:5px;
        margin-right:10px;
        filter:brightness(200%);
        position:absolute;
        top:6px;
        left:10px
    }
}


.nav{
    &Movie{
        &:hover{
            background-color:$blueKids;
        }

        &::before{
            content:url("../../img/movieIcon.png");
        }
    }

    &Music{
        &:hover{
            background-color:$redKids;
        }
        &::before{
            content:url("../../img/musicIcon.png");
        }
    }

    &Char{
        &:hover{
            background-color:$greenKids;
        }
        &::before{
            content:url("../../img/characterIcon.png");
        }
    }

    &Game{
        &:hover{
            background-color: $yellowKids;
        }
        &::before{
            content:url("../../img/gamesIcon.png");
        }
    }
}

.section{
    width:100%;
    display:flex;
    justify-content: center;
}

.section-container{
    width:70%;
    text-align:center;
}

.pageTitle{
    padding: 20px 0;
    font-size:24pt;
}

.sectionTitle{
    padding:15px 15px 15px 30px;
    font-size:22pt;
    text-align:left;
    color:white;
}

.movieHeader{
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: flex-start;

    &-img{
        width:15%;
        min-width:150px;
        padding:10px;
        margin:15px 0 15px 0;
        border: 1px solid rgb(100,100,100);
    }

    &-info{
        padding:10px;
        text-align: left;

        &-details{
            background-color:$mediumColor;
            padding:10px 20px 20px 20px;
            margin-top:10px;
            border-radius:10px;

            &-title{
                margin:15px 0 15px 0;
                color:white;
            }

            &-text{
                margin-top:5px;
                padding-left:10px;
                color:white;

                &-span{
                    color:white;
                    text-decoration: underline;
                    display:inline-block;
                    margin-bottom:5px;
                }
            }

            &-list{
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &-item{
                    margin-top:5px;
                    padding-left:10px;
                    color:white;

                    &-link{
                        color:white;

                        &:hover{
                            color:$darkColor;
                        }

                        img {
                            border: 2px solid #ffb419;
                            height: 100px;

                            &:hover {
                                box-shadow: 0 0 5px #000000dd;
                            }
                        }
                    }
                }
            }
        }
    }
}

.usersList{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;

    &_user{
        border:1px solid rgb(200,200,200);
        text-align: center;
        font-size: 130%;
        vertical-align: middle;
        border-radius: 50px;
        padding:20px;
        padding-top:30px;
        margin:0 5px;
        width:40px;
        height:30px;
        font-weight:bolder;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: rgba(255,255,255,0);

        &:hover{
            border:1px solid rgb(100,100,100);
            cursor:pointer;
        }
    }
}

.border {
    border:1px solid rgb(200,200,200);
}

.songUser{
    color:white;
    border-color:white;
    padding:.2rem .4rem;
    border-radius:10rem;
    font-size: .6rem;

    &:hover{
        cursor: pointer;
    }
}

.notSongUser {
    padding:.2rem .4rem;
    border-radius:10rem;
    font-size: .6rem;

    &:hover{
        cursor: pointer;
    }
}

.games{
    &-stepA {
        h4 {
            margin-bottom: 1rem;
        }
    }
}

.game{
    &Block {
        position: relative;
        background-color: rgb(85, 85, 85);
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem;
    
        * {
            color: white;
        }
    
        img {
            margin: 1rem;
            height: 6rem;
        }
    
        &:hover {
            background-color: rgb(184, 184, 184);
        }
    }
    
    &Levels {
        margin: 0 .5rem;
    }

    &Results {
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        z-index: 10000;
        border-top: 6px solid red;
        border-bottom: 6px solid red;
        padding: 3rem 0;

        p {
            margin-bottom: 1rem;
        }

        &-list {
            margin-bottom: 2rem;
        }
    }

    &OpenLink {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3000;
        opacity: 0;
        border-radius: 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.player {
    &-field {
        opacity: 0;
    }

    &-selection {
        font-size: 2rem;
        border: 1px solid grey;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: inline-block;
        padding: 1rem;
        margin-bottom: 1rem;
        line-height: 2.8rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: rgba(255,255,255,0);
    
        &:hover {
            cursor: pointer;
        }
    }

    &-info {
        font-size: 1.3rem;
        font-weight: 700;
    }
}

.color {
    &-green {
        color: $greenKids;
    }
    &-blue {
        color: $blueUser;
    }
    &-red {
        color: $redUser;
    }
    &-yellow {
        color: $yellowUser;
    }
    &-orange {
        color: $orangeUser;
    }
    &-pink {
        color: $pinkUser;
    }
    &-grey {
        color: $darkColor;
    }
}

.userColor {
    &_green{
        border-color:$greenKids;

        &.songUser{
            background-color: $greenKids;
        }

        &.isActive{
            border:3px solid $greenKids;
        }
    }

    &_blue{
        border-color:$blueUser;

        &.songUser{
            background-color: $blueUser;
        }

        &.isActive{
            border:3px solid $blueUser;
        }
    }

    &_red{
        border-color:$redUser;
    
        &.songUser{
            background-color: $redUser;
        }
    
        &.isActive{
            border:3px solid $redUser;
        }
    }

    &_yellow{
        border-color:$yellowUser;
    
        &.songUser{
            background-color: $yellowUser;
        }
    
        &.isActive{
            border:3px solid $yellowUser;
        }
    }

    &_orange{
        border-color:$orangeUser;
    
        &.songUser{
            background-color: $orangeUser;
        }
    
        &.isActive{
            border:3px solid $orangeUser;
        }
    }

    &_pink{
        border-color:$pinkUser;
    
        &.songUser{
            background-color: $pinkUser;
        }
    
        &.isActive{
            border:3px solid $pinkUser;
        }
    }

    &_grey{
        border-color:$darkColor;
    
        &.songUser{
            background-color: $darkColor;
        }
    
        &.isActive{
            border:3px solid $darkColor;
        }
    }
}

.longText{
    text-align:justify;           
}

.dataSheet{
    margin-top:20px;
}

.song_usersList{
    display:flex;
    justify-content: flex-start;
    align-items: center;

    >li {
        margin-right:.3rem;
    }
}

.kidsMoviesBtn{
    padding:10px;
    margin:20px;
    background-color: $medLightColor;
    color:white;
    border-radius: 4px;
    border:none;
    font-weight:700;
    cursor:pointer;
}

.kidsMoviesBtn.yellowBG:hover{
    background-color: $yellowKids;
}

.kidsMoviesBtn.blueBG:hover{
    background-color: $blueKids;
}

.kidsMoviesBtn.greenBG:hover{
    background-color: $greenKids;
}

.kidsMoviesBtn.redBG:hover{
    background-color: $redKids;
}

.kidsMoviesBtn {
    &:disabled {
        &:hover {
            background-color: $medLightColor;
            cursor: initial;
        }
    }
}

#videoPlayerContainer{
    &.random {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &>iframe{
        margin-bottom:20px;
    }
}

.censoredBlock {
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    text-align: center;

    &.random{
        height: 100%;
        width: 100%;
        position: absolute;

        img {
            margin-top: 0rem;
            height: 100%;
        }
    }

    img {
        margin-top: 10rem;
        height: 50%;
    }
}

.deleteButton {
    &.redVersion {
        color: red;
    }
}

.admin{
    &-table {
        margin: 2rem auto;
        width: 80%;
        border-collapse: collapse;

        th, td {
            border:1px solid rgb(100,100,100);
            padding: .4rem;
        }

        .link {
            &.editButton {
                color: rgb(0,100,200);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-form {
        padding-top: 1rem;
        text-align: left;

        fieldset {
            margin-bottom: 1rem;
            padding: .7rem;

            legend {
                background-color: white;
                padding-left: .4rem;
                padding-right: .4rem;
            }
        }

        .suiteChoice {
            margin-bottom: .4rem;
        }

        input[type=radio] {
            margin-right: .4rem;
        }

        #newMovieSuiteField {
            display: none;
        }

        .mainInfo {
            display: flex;
            flex-flow: column nowrap;

            label {
                margin-top: .4rem;
            }

            textarea {
                height: 6rem;
            }
        }
    }

    &-list {
        text-align: left;

        li {
            list-style-type: square;
        }
    }
}

.linksBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backLink {
    margin-bottom: 1rem;
    &:hover {
        text-decoration: underline;
    }
}

.btn{
    font-size:.8rem;
    padding: .2rem .4rem;
    border-radius: .2rem;

    &-green{
        background-color: green;
        color: white;
    }

    &-danger{
        background-color: red;
        color: white;
    }
}

.memory{
    &-stepB-container{
        text-align: center;
        position: relative;
        margin-top: 1rem;
    }

    &-disabler {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 9999;
        opacity: 0;
        display: none;
    }

    &-table {
        margin-left: auto;
        margin-right: auto;
    }

    &-cell {
        border-collapse: collapse;
        position: relative;

        &.levelA {
            width: 150px;
        }

        &.levelB {
            width: 130px;
        }

        &.levelC {
            width: 110px;
        }

        &.levelD {
            width: 90px;
        }
    }

    &-backCard {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 5000;
        border-radius: .5rem;

        &:hover {
            cursor: pointer;
            filter: brightness(1.1);
        }
    }

    &-card {
        width: 100%;
        border-radius: .5rem;
    }
}